<div class="navbar navbar-default navbar-static-top">

  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Rails MN</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/presentations">Presentations</a></li>
      <li><a href="/installation">Installation Guide</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/projects/" id="themes">Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/projects/open_camp/">OpenCamp</a></li>
        </ul>
      </li>
    </ul>

  </div>

</div>
