<div class="panel panel-danger">
  <div class="panel-heading text-center">
    <h2>Warning! The Rails-Dev-Box is <strong>woefully</strong> out of date.</h2>
  </div>
  <div class="panel-body text-center" style="width: 75%; margin: auto;">
    <h4>The OpenCamp Rails.MN vagrant box is woefully out of date. It is <strong>strongly</strong> recommended to use <a href="https://www.youtube.com/playlist?list=PLfd4iay29eVBey-eRCvjWvO1pGj4_E_Us">Jason's methods</a> to install a virtual development environment at this point.</h4>
  </div>
  <div class="panel-body text-center">Going further down this path will probably leave you stranded.</div>
  <div class="panel-footer">Really. Just go use <a href="https://www.youtube.com/playlist?list=PLfd4iay29eVBey-eRCvjWvO1pGj4_E_Us">Jason's methods</a></div>
</div>
