---
layout: master
---

<div class="row">
  <div class="col-md-3 sidebar">
    <div class="list-group">
      <a href="/projects/open_camp/" class="list-group-item active">
        Project OpenCamp
      </a>
      <a href="part1.html" class="list-group-item">Part 1</a>
      <a href="part2.html" class="list-group-item">Part 2</a>
      <a href="part3.html" class="list-group-item">Part 3</a>
      <a href="part4.html" class="list-group-item">Part 4</a>
      <a href="part5.html" class="list-group-item">Part 5</a>
      <a href="part6.html" class="list-group-item">Part 6</a>
    </div>
  </div>

  <div class="col-md-9">
    {{ content }}
  </div>
</div>